* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

h3 {
  margin-top: 100px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

form, article {
  border: 1px solid rgba(176, 176, 176, 0.5);
  height: 320px;
  margin: 10px 0;
  width: 360px;
}

@media screen and (max-width: 420px) {
  form, article {
    margin: 10px 0;
    width: 320px;
  }
}
