ul {
  column-count: 3;
  column-gap: 5px;
  column-rule: 1px solid #ddd;
  padding-left: 20px;
}

li {
  font-family: sans-serif;
  list-style: none;
}

.list input {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  ul {
    column-count: 2;
  }
}
