fieldset {
  background-color: #eee;
  display: flex;
  border: none;
  width: 300px;
  label {
    display: flex;
    justify-content: center;
  }
}

label {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 0 1px 1px #fff;
}

.name-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#first-name, #last-name, #email {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
  background-image: -moz-linear-gradient(0% 12% 90deg, #fff, #999);
  border: none;
  border-radius: 5px;
  color: #666;
  font-size: 16px;
  padding: 10px;
  margin: 5px auto;
  width: 220px;
}

#first-name:focus, #last-name:focus, #email:focus {
  outline-color: #5bb3ff;
}

input[type="submit"] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff);
  border: none;
  border-radius: 23px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #444;
  font-weight: bold;
  margin: auto;
  padding: 8px 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}

input[type="submit"]:hover {
  animation: pulse 1.5s infinite ease-in-out;
  background-image: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    background-color: rgba(50, 249, 52, 0.2);
  }
  50% {
    background-color: rgba(50, 249, 52, 0.8);
  }
  100% {
    background-color: rgba(50, 249, 52, 0.2);
  }
}

@media screen and (max-width: 420px) {
  fieldset {
    width: 280px;
  }
}
