.inputs {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    cursor: pointer;
    padding: 3px;
  }
  label {
    font-family: sans-serif;
    font-size: 14px;
    margin: 1.5px 0;
    padding-left: 35px;
  }
}

#color-picker {
  height: 20px;
}

#file-upload {
  width: 180px;
}

#range {
  vertical-align: middle;
}

@media screen and (max-width: 420px) {
  .inputs label {
    padding-left: 15px;
  }
}
