* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

h3 {
  margin-top: 100px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

form, article {
  border: 1px solid rgba(176, 176, 176, 0.5);
  height: 320px;
  margin: 10px 0;
  width: 360px;
}

@media screen and (max-width: 420px) {
  form, article {
    margin: 10px 0;
    width: 320px;
  }
}
fieldset {
  background-color: #eee;
  display: flex;
  border: none;
  width: 300px;
}
fieldset label {
  display: flex;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 0 1px 1px #fff;
}

.name-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#first-name, #last-name, #email {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
  background-image: -moz-linear-gradient(0% 12% 90deg, #fff, #999);
  border: none;
  border-radius: 5px;
  color: #666;
  font-size: 16px;
  padding: 10px;
  margin: 5px auto;
  width: 220px;
}

#first-name:focus, #last-name:focus, #email:focus {
  outline-color: #5bb3ff;
}

input[type="submit"] {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbb, #fff);
  border: none;
  border-radius: 23px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #444;
  font-weight: bold;
  margin: auto;
  padding: 8px 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}

input[type="submit"]:hover {
  animation: pulse 1.5s infinite ease-in-out;
  background-image: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    background-color: rgba(50, 249, 52, 0.2);
  }
  50% {
    background-color: rgba(50, 249, 52, 0.8);
  }
  100% {
    background-color: rgba(50, 249, 52, 0.2);
  }
}
@media screen and (max-width: 420px) {
  fieldset {
    width: 280px;
  }
}
.float-labels {
  margin: 60px 0 35px 20px;
  position: relative;
}

.float-input {
  border: none;
  border-bottom: 1px solid #868686;
  display: block;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 300px;
}
.float-input:focus {
  outline: none;
}

.float-label {
  color: #999;
  font-size: 14px;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.2s ease all;
}

.float-input:focus ~ label, .float-input:valid ~ label {
  color: #2e60cd;
  font-size: 14px;
  top: -20px;
}

.bar {
  display: block;
  position: relative;
  width: 315px;
}

.bar:before, .bar:after {
  background: #2e60cd;
  content: '';
  height: 2px;
  position: absolute;
}

.float-input:focus ~ .bar:before, .float-input:focus ~ .bar:after {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .float-input {
    width: 260px;
  }

  .bar {
    width: 275px;
  }
}
#checkboxOne {
  visibility: hidden;
}
#checkboxOne:checked + label {
  background: #32f934;
  left: 100px;
}

.checkboxOne {
  background: #555;
  border-radius: 3px;
  height: 10px;
  margin: 30px auto;
  position: relative;
  width: 120px;
}
.checkboxOne label {
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 30px;
  left: -3px;
  position: absolute;
  top: -10px;
  transition: all .5s ease;
  width: 30px;
}

#checkboxTwo {
  visibility: hidden;
}
#checkboxTwo:checked + label {
  left: 84px;
}
#checkboxTwo:checked ~ .checkbox-hack {
  background: #32f934;
}

.checkbox-hack {
  background: #333;
  border-radius: 50px;
  height: 40px;
  position: absolute;
  top: 0px;
  width: 120px;
}

.checkboxTwo {
  border-radius: 50px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  width: 120px;
}
.checkboxTwo label {
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 30px;
  left: 6px;
  position: absolute;
  top: 5px;
  transition: all .5s ease;
  width: 30px;
  z-index: 1;
}

#checkboxThree {
  visibility: hidden;
}
#checkboxThree:checked + label {
  background: #32f934;
  left: 84px;
}

.checkboxThree {
  background: #333;
  border-radius: 50px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  width: 120px;
}
.checkboxThree:before {
  background: #111;
  content: '';
  height: 2px;
  left: 14px;
  position: absolute;
  top: 19px;
  width: 90px;
}
.checkboxThree label {
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 9px;
  transition: all .5s ease;
  width: 22px;
  z-index: 1;
}

#checkboxFour {
  visibility: hidden;
}
#checkboxFour:checked + label {
  background: #32f934;
  left: 60px;
}

.checkboxFour {
  background: #333;
  border-radius: 50px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  width: 120px;
}
.checkboxFour:before {
  color: #32f934;
  content: 'On';
  font-size: 16px;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 12px;
}
.checkboxFour:after {
  color: #111;
  content: 'Off';
  font-size: 16px;
  height: 2px;
  left: 84px;
  position: absolute;
  top: 12px;
}
.checkboxFour label {
  background: #ddd;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 9px;
  transition: all .5s ease;
  width: 52px;
  z-index: 1;
}

#checkboxFive {
  visibility: hidden;
}
#checkboxFive:checked + label {
  background: #32f934;
}

.checkboxFive {
  background: #ddd;
  border-radius: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  height: 40px;
  position: relative;
  width: 40px;
}
.checkboxFive label {
  background: #333;
  border-radius: 100px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  height: 30px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: all .5s ease;
  width: 30px;
  z-index: 1;
}

#checkboxSix {
  visibility: hidden;
}
#checkboxSix:checked + label {
  background: #32f934;
}
#checkboxSix:checked + label:after {
  opacity: 1;
}

.checkboxSix {
  margin-left: 20px;
  position: relative;
  width: 40px;
}
.checkboxSix label {
  background: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  position: absolute;
  height: 40px;
  left: 0;
  top: 0;
  width: 40px;
}
.checkboxSix label:after {
  background: transparent;
  border: 3px solid #333;
  border-right: none;
  border-top: none;
  content: '';
  height: 10px;
  left: 9px;
  opacity: 0.2;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  width: 20px;
}
.checkboxSix label:hover::after {
  opacity: 0.5;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  column-count: 3;
  column-gap: 5px;
  column-rule: 1px solid #ddd;
  padding-left: 20px;
}

li {
  list-style: none;
}

.list input {
  margin-right: 5px;
}
.list input:hover {
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  ul {
    column-count: 2;
  }
}
.ranges input {
  -webkit-appearance: none;
  margin: 17px 0 12px 18px;
  width: 90%;
}
.ranges input:focus {
  outline: none;
}

#range1 {
  background: #5bb3ff;
  cursor: pointer;
  height: 6px;
}

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #a8d6ff;
  border: 1px solid #0083f4;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#range2 {
  background: #ff03b8;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 10px;
}

#range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #b60082;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#range3 {
  background: #46e99b;
  border: 1px solid #111;
  cursor: pointer;
  height: 10px;
}

#range3::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #1be182;
  border: 2px solid #111;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #111;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#range4 {
  background: #288be0;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 10px;
}

#range4::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #FFFFFF;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 30px;
  width: 15px;
}

#range5 {
  background: #e02b62;
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
}

#range5::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ed84a4;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 16px;
  width: 30px;
}

#range6 {
  background: #1dccad;
  border: 1px solid #107361;
  border-radius: 10px;
  cursor: pointer;
  height: 10px;
}

#range6::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #92f0df;
  border: 1px solid #107361;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 20px;
  width: 30px;
}

#range7 {
  background: #a745f5;
  border: 2px solid #670ab1;
  cursor: pointer;
  height: 8px;
}

#range7::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #a745f5;
  border: 2px solid #670ab1;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#range8 {
  background: #c3c3c3;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
  height: 12px;
}

#range8::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3107bb;
  border-radius: 10px;
  cursor: pointer;
  height: 12px;
  width: 30px;
}

.inputs {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs input {
  cursor: pointer;
  padding: 3px;
}
.inputs label {
  font-size: 14px;
  margin: 1.5px 0;
  padding-left: 35px;
}

#color-picker {
  height: 20px;
}

#file-upload {
  width: 180px;
}

#range {
  vertical-align: middle;
}

@media screen and (max-width: 420px) {
  .inputs label {
    padding-left: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
